* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.contenedor {
  display: grid;
  grid-template-rows: 1fr 0.25fr 3fr  2fr  0.5fr;
  grid-template-columns: 0.25fr 1.5fr 0.25fr;
  grid-template-areas: "cabezera cabezera cabezera"  "navegacion navegacion navegacion" ". principio ." ". noticias ." "pie pie pie";
  justify-items: center;
  row-gap: 1rem; }

.cabezera {
  grid-area: cabezera;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center; }
  .cabezera img {
    margin-left: 0.5rem;
    width: 40%;
    height: 85%; }
  .cabezera div {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .cabezera div h1 {
      width: 50%; }

.navegacion {
  grid-area: navegacion; }
  .navegacion ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none; }
    .navegacion ul li {
      margin-left: 1rem; }

.principio {
  grid-area: principio;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .principio h2 {
    padding-left: 20%;
    width: 100%; }
  .principio img {
    width: 25%;
    height: 25%;
    display: none; }
  .principio p {
    width: 75%; }

.noticias {
  grid-area: noticias;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .noticias h3 {
    padding-bottom: 1rem; }

.tarjeta {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  width: 70%; }
  .tarjeta h4 {
    margin-top: 0.5rem;
    padding-left: 30%;
    width: 100%; }
  .tarjeta img {
    margin-top: 0.5rem;
    width: 25%;
    height: 25%; }
  .tarjeta p {
    width: 30%;
    margin: 1rem; }

.pie {
  grid-area: pie;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }
  .pie p {
    text-align: center;
    margin-top: 1rem;
    width: 25%; }

/*estilos proyectos*/
.divProyectos {
  display: grid;
  grid-template-rows: 1fr 0.25fr 3fr  0.5fr;
  grid-template-columns: 0.25fr 2.5fr 0.25fr;
  grid-template-areas: "cabezera cabezera cabezera"  "navegacion navegacion navegacion" ". divProyectos ." "pie pie pie";
  justify-items: center; }

.proyec-Container {
  grid-area: divProyectos;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-between; }
  .proyec-Container h2 {
    margin-top: 3rem;
    text-align: center;
    width: 100%; }

.proyecto {
  margin-top: 3rem;
  background-color: aqua;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around; }
  .proyecto img {
    width: 40%;
    height: 40%; }
  .proyecto div {
    width: 40%;
    height: 40%; }
    .proyecto div h3 {
      width: 100%;
      height: 10%; }
    .proyecto div .descripcion {
      width: 100%;
      height: 20%; }
  .proyecto ul {
    width: 30%;
    height: 30%; }
    .proyecto ul li {
      list-style: none; }
  .proyecto .fecha {
    width: 10%;
    height: 10%; }
  .proyecto a {
    width: 20%;
    height: 10%; }

/*contacto*/
.divContacto {
  display: grid;
  grid-template-rows: 1fr 0.25fr 3fr  0.5fr;
  grid-template-columns: 0.25fr 2.5fr 0.25fr;
  grid-template-areas: "cabezera cabezera cabezera"  "navegacion navegacion navegacion" ". divContacto ." "pie pie pie";
  justify-items: center; }

.contact-Container {
  grid-area: divContacto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-between; }
  .contact-Container h2 {
    margin-top: 3rem;
    text-align: center;
    width: 100%; }

.contacto {
  margin-top: 3rem;
  width: 80%;
  height: 25vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around; }
  .contacto img {
    width: 80%;
    height: 80%; }

/*sobre mi*/
.SobreMiConteiner {
  display: grid;
  grid-template-rows: 1fr 0.25fr 5fr  1fr 2fr  0.5fr;
  grid-template-columns: 0.25fr 1.5fr 0.25fr;
  grid-template-areas: "cabezera cabezera cabezera"  "navegacion navegacion navegacion" ". sobreMi ." ". formacion ." ". trabajos ." "pie pie pie";
  row-gap: 2rem; }

.descripcionPersonal {
  grid-area: sobreMi;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center; }
  .descripcionPersonal img {
    width: 15rem;
    height: 15rem; }
  .descripcionPersonal div {
    width: 40%;
    height: 40%; }
    .descripcionPersonal div h2 {
      margin-top: 1rem;
      width: 100%; }
    .descripcionPersonal div p {
      margin-top: 1rem;
      width: 100%; }
  .descripcionPersonal ul {
    padding-left: 3rem;
    align-self: flex-start;
    width: 70%; }
    .descripcionPersonal ul li {
      margin-top: 2rem; }

.capasitacion {
  grid-area: formacion; }
  .capasitacion h3 {
    text-align: center; }
  .capasitacion ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center; }
    .capasitacion ul li {
      margin-top: 1rem; }

.experienciaLaboral {
  grid-area: trabajos;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 80%; }
  .experienciaLaboral h3 {
    text-align: center; }

.trabajos {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%; }
  .trabajos h4 {
    width: 50%; }
  .trabajos .tiempoTrabajo {
    margin-left: 1rem;
    width: 20%; }
  .trabajos h5 {
    margin-top: 1rem;
    width: 80%; }
  .trabajos .descripcionTrabajo {
    margin-top: 1rem;
    width: 80%; }

/*mas info rpoyectos*/
.masSobreProyectosContainer {
  display: grid;
  grid-template-rows: 1fr 0.25fr 3fr  0.5fr;
  grid-template-columns: 0.25fr 1.5fr 0.25fr;
  grid-template-areas: "cabezera cabezera cabezera"  "navegacion navegacion navegacion" ". infProyecto ." "pie pie pie";
  justify-items: center; }

.proyectMasInfo {
  grid-area: infProyecto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap; }
  .proyectMasInfo img {
    padding-top: 2rem;
    width: 50%;
    height: 10rem; }
  .proyectMasInfo h2, .proyectMasInfo h3 {
    margin-top: 2rem;
    margin-bottom: 2rem; }
  .proyectMasInfo .descripcioProyecto {
    width: 50%; }

.proyectoDetalles {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 80%;
  align-items: center;
  justify-content: space-around; }
  .proyectoDetalles .librerias {
    margin-left: 2rem; }

.repos {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-around; }
  .repos a {
    text-align: center;
    width: 5rem;
    text-decoration: none;
    border: 3px solid black;
    border-radius: 10px; }

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .contenedor {
    display: grid;
    grid-template-rows: 1fr 0.25fr 4fr  0.5fr;
    grid-template-columns: 0.25fr 2fr 1fr 0.25fr;
    grid-template-areas: "cabezera cabezera cabezera cabezera"  "navegacion navegacion navegacion navegacion" ". principio noticias ." "pie pie pie pie";
    justify-items: center;
    row-gap: 3rem;
    column-gap: 1rem; }
  .navegacion {
    width: 80%;
    display: flex;
    align-items: center;
    grid-area: navegacion; }
    .navegacion ul {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      list-style: none; }
      .navegacion ul li {
        margin-left: 4rem;
        padding-right: 3rem; }
  .principio {
    grid-area: principio;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .principio h2 {
      width: 20%;
      display: inline; }
    .principio img {
      width: 50%;
      height: 40%;
      display: inline-block; }
    .principio p {
      margin-left: 25%;
      width: 75%; }
  .pie {
    width: 80%;
    grid-area: pie;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; }
    .pie p {
      margin-top: 1rem;
      width: 25%; }
  /*estilos proyectos*/
  .proyecto {
    width: 40%;
    margin-left: 3rem; }
  /*contacto*/
  .contacto {
    width: 40%;
    margin-left: 3rem; }
  /*sobre mi*/
  .SobreMiConteiner {
    display: grid;
    grid-template-rows: 1fr 0.25fr 5fr 2fr  0.5fr;
    grid-template-columns: 0.25fr 2fr 1fr 0.25fr;
    grid-template-areas: "cabezera cabezera cabezera cabezera" "navegacion navegacion navegacion navegacion" ". sobreMi sobreMi ." ". trabajos formacion ." "pie pie pie pie";
    justify-items: center;
    row-gap: 3rem;
    column-gap: 1rem; }
  .descripcionPersonal {
    grid-area: sobreMi;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    align-content: center; }
    .descripcionPersonal img {
      width: 18rem;
      height: 18rem; }
    .descripcionPersonal div {
      width: 40%;
      height: 40%; }
      .descripcionPersonal div h2 {
        margin-top: 1rem;
        width: 100%; }
      .descripcionPersonal div p {
        margin-top: 1rem;
        width: 100%; }
    .descripcionPersonal ul {
      padding-left: 3rem;
      align-self: flex-start;
      width: 70%; }
      .descripcionPersonal ul li {
        margin-top: 2rem; } }

@media screen and (min-width: 1024px) {
  .contenedor {
    display: grid;
    grid-template-rows: 1fr 0.25fr 4fr  0.5fr;
    grid-template-columns: 0.25fr 2fr 1fr 0.25fr;
    grid-template-areas: "cabezera cabezera cabezera cabezera"  "navegacion navegacion navegacion navegacion" ". principio noticias ." "pie pie pie pie";
    justify-items: center;
    row-gap: 3rem;
    column-gap: 1rem; }
  .cabezera {
    grid-area: cabezera;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center; }
    .cabezera img {
      margin-left: 0.5rem;
      width: 40%;
      height: 85%; }
    .cabezera div {
      margin-left: 15rem;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .cabezera div h1 {
        width: 50%; }
  .navegacion {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: navegacion; }
    .navegacion ul {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      list-style: none; }
      .navegacion ul li {
        margin-left: 8rem;
        padding-right: 3rem; }
  .principio {
    grid-area: principio;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    .principio h2 {
      width: 80%;
      display: inline; }
    .principio img {
      width: 40%;
      height: 50%;
      display: inline-block; }
    .principio p {
      width: 20%; }
  .pie {
    width: 80%;
    grid-area: pie;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; }
    .pie p {
      margin-top: 1rem;
      width: 25%; }
  /*estilos proyectos*/
  .proyecto {
    width: 30%;
    margin-left: 3rem; }
  /*contacto*/
  .contacto {
    width: 30%;
    margin-left: 3rem; }
  /*sobre mi*/
  .SobreMiConteiner {
    display: grid;
    grid-template-rows: 1fr 0.25fr 5fr 2fr  0.5fr;
    grid-template-columns: 0.25fr 2fr 0.5fr 0.25fr;
    grid-template-areas: "cabezera cabezera cabezera cabezera" "navegacion navegacion navegacion navegacion" ". sobreMi formacion ." ". trabajos trabajos ." "pie pie pie pie";
    justify-items: center;
    row-gap: 3rem;
    column-gap: 1rem; }
  .descripcionPersonal {
    grid-area: sobreMi;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    align-content: center; }
    .descripcionPersonal img {
      width: 20rem;
      height: 20rem; }
    .descripcionPersonal div {
      width: 40%;
      height: 40%; }
      .descripcionPersonal div h2 {
        margin-top: 1rem;
        width: 100%; }
      .descripcionPersonal div p {
        margin-top: 1rem;
        width: 100%; }
    .descripcionPersonal ul {
      padding-left: 3rem;
      align-self: flex-start;
      width: 70%; }
      .descripcionPersonal ul li {
        margin-top: 2rem; }
  .experienciaLaboral {
    grid-area: trabajos;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%; }
    .experienciaLaboral h3 {
      width: 80%;
      text-align: center; }
  .trabajos {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40%; }
    .trabajos h4 {
      width: 50%; }
    .trabajos .tiempoTrabajo {
      margin-left: 1rem;
      width: 20%; }
    .trabajos h5 {
      margin-top: 1rem;
      width: 80%; }
    .trabajos .descripcionTrabajo {
      margin-top: 1rem;
      width: 80%; }
  /*mas info rpoyectos*/
  .proyectMasInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap; }
    .proyectMasInfo img {
      padding-top: 2rem;
      width: 40%;
      height: 18rem; }
    .proyectMasInfo h2, .proyectMasInfo h3 {
      margin-top: 2rem;
      margin-bottom: 2rem; }
    .proyectMasInfo .descripcioProyecto {
      width: 50%; } }
