@import "utilities/variables";

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.contenedor{
    background-color: black;
    display: grid;
    grid-template-rows:1fr 0.25fr 3fr  2fr  0.5fr;
    grid-template-columns:0.25fr 1.5fr 0.25fr;
    grid-template-areas: 
    "cabezera cabezera cabezera" 
    "navegacion navegacion navegacion"
    ". principio ."
    ". noticias ."
    "pie pie pie"
    ;
    justify-items: center;
    align-items: stretch;
}
.cabezera{
    background-image: linear-gradient(to top right, rgba(213,78,57,1) 0%, rgba(241,145,74,1) 50%, rgba(166,137,83,1) 100%);
    @include tamaño(100%,auto);
    grid-area: cabezera;
    color: $color1;
    @include flex(nowrap,row,center,center,normal);
    img{
        margin-left: 0.5rem;
        @include tamaño(40%,85%);
    }
    div{
        @include flex(nowrap,column,center,flex-start,normal);
        h1{  
            @include tamaño(50%,auto);
        }
    }
}
    
.navegacion{
    background-color: $color1;
    grid-area: navegacion;
    @include tamaño (100%,3rem);
    ul{
        @include flex(nowrap,row,normal,space-evenly,normal);
        list-style: none;
        li{
            margin-top: 1rem;
            text-align: center;
            border-radius: 1rem;
            width: 5rem;
            @include tamaño (5rem,1.5rem);
            border: 0.1rem black solid;
            background-color: black;
            a{
                text-decoration: none;
                &:visited{
                    color:$color1;
                    text-decoration: none;
                }
            }
        }
    }
}

.principio{
    margin-top: 1rem;
    grid-area: principio;
    @include tamaño (80%,17rem);
    @include flex(wrap,row,center,flex-start,normal);
    h2{
        color: $color2;
        padding-left: 20%;
        @include tamaño (100%,auto);
    }
    img{
        @include tamaño (25%,25%);
        display: none;
    }
    p{
        color: $color1;
        padding-left: 1rem;
        @include tamaño (75%,auto);
    }
}
.noticias{
    margin-top: 2rem;
    color: $color1;
    grid-area: noticias;
    @include tamaño (80%,17rem);
    background-color: black;
    @include flex(nowrap,column,center,normal,normal);
    h3{
        // padding-bottom: 1rem;
        // padding-right: 1rem;
    }
}
.tarjeta{
    margin-top: 1rem;
    background-color: black;
    @include flex(wrap,row,flex-start,space-around,flex-start);
    @include tamaño (100%,auto);
    h4{
        color: $color2;
        text-align: start;
        margin-top: 0.5rem;
        padding-left: 1rem;
        @include tamaño (100%,auto);
    }
    img{
        border-radius: 6rem;
        @include tamaño (5rem,3rem);
    }
    p{
        color: $color1;
        @include tamaño (40%,auto);
        margin-left: 1rem;
    }
}
.pie{
    align-self: end;
    @include tamaño(100%,3rem);
    background-image: linear-gradient(to top right, rgba(213,78,57,1) 0%, rgba(241,145,74,1) 50%, rgba(166,137,83,1) 100%);
    color: $color1;
    grid-area: pie;
    @include flex(nowrap,row,center,space-evenly,normal);
    p{
        text-align: center;
        @include tamaño(10rem,2rem);
    }
}

/*estilos proyectos*/
.divProyectos{
    background-color: black;
    display: grid;
    grid-template-rows:0.25fr 0.10fr 3fr  0.10fr;
    grid-template-columns: 0.25fr 1.5fr 0.25fr  ;
    grid-template-areas: 
                "cabezera cabezera cabezera" 
                "navegacion navegacion navegacion"
                "divProyectos divProyectos divProyectos"
                "pie pie pie"
                ;
    justify-items: stretch;
    align-items: stretch;
}

.proyec-Container{
    grid-area: divProyectos;
    @include flex(wrap,row,center,center,space-between);
    h2{
        color: $color1;
        @include tamaño(100%,auto);
        margin-top: 3rem;
        margin-bottom: 2rem;
        text-align: center;
    }
}
.proyecto{
    color: $color1;
    margin-bottom: 3rem;
    background-color:black;
    @include tamaño(80%,auto);
    @include flex(wrap,row,center,space-around,normal);
    img{
        @include tamaño(6rem,6rem);
    } 
    div{
        @include tamaño(10rem,10rem);
        h3{
            color: $color2;
            text-align: center;
            @include tamaño(10rem,4rem);
        }  
        .descripcion{
            @include tamaño(100%,20%);
        }
    } 
    ul{
        @include tamaño(30%,30%);
        li{
            list-style: none;
        
        }
    }
    .fecha{
        @include tamaño(10%,10%);
    }
    a{
        border: 0.1rem black solid;
        background-color: $color2;
        border-radius: 1rem;
        @include tamaño(30%,10%);
        text-decoration: none;
        text-align: center;
        &:visited{
            color:black;
            text-decoration: none;
        }
    }
}
  /*contacto*/
  .divContacto{
    background-color: black;
    display: grid;
    grid-template-rows:0.25fr 0.25fr 1.5fr  0.5fr;
    grid-template-columns: 0.25fr 2.5fr 0.25fr  ;
    grid-template-areas: 
                "cabezera cabezera cabezera" 
                "navegacion navegacion navegacion"
                ". divContacto ."
                "pie pie pie"
                ;
    justify-items: center;
}
.contact-Container{
    grid-area: divContacto;
    @include flex(wrap,row,center,center,space-between);
    h2{
        margin-top: 3rem;
        text-align: center;
        width: 100%;
    }
}
.contacto{
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    @include flex(wrap,row,center,space-around,normal);
    @include tamaño(80%,25vh);
    img{
        @include tamaño(80%,80%);
    } 
}
/*sobre mi*/
.SobreMiConteiner{
    background-color: black;
    color: $color1;
    display: grid;
    grid-template-rows:0.25fr 0.10fr 5fr  1fr 2fr  0.5fr;
    grid-template-columns: 0.25fr 1.5fr 0.25fr  ;
    grid-template-areas: 
                "cabezera cabezera cabezera" 
                "navegacion navegacion navegacion"
                ". sobreMi ."
                ". formacion ."
                ". trabajos ."
                "pie pie pie"
                ;
    justify-items: center;
    align-items: stretch;
}
.descripcionPersonal{
    grid-area: sobreMi;
    width: 100%;
    @include flex(wrap,column,center,normal,normal);
    img{
        @include tamaño(15rem,15rem);
    }
    div{
        @include tamaño(40%,40%);
        h2{
            color: $color2;
            margin-top: 1rem;
            width: 100%;
        }
        p{
            margin-top: 1rem;
            width: 100%;
        }
    }   
    ul{
        padding-left: 3rem;
        align-self:flex-start;
        width: 70%;
        li{
            margin-top: 2rem;
        }
    } 
}
.capasitacion{
    grid-area: formacion;
    h3{
        color: $color2;
        text-align: center;
    }
    ul{
        @include flex(wrap,column,normal,normal,center);
        li{
            margin-top: 1rem;
        }
    }
}
.experienciaLaboral{
    grid-area: trabajos;
    @include flex(wrap,column,center,normal,normal);
    width: 80%;
    h3{
        color: $color2;
        text-align: center;
    }
}
.trabajos{    
    margin-top: 2rem;
    @include flex(wrap,row,normal,normal,normal);
    width: 80%;
    h4{
        color: $color2;
        width:50% ;
    }
    .tiempoTrabajo{
        margin-left: 1rem;
        width: 20%;
    }
    h5{
        color: $color2;
        margin-top: 1rem;
        width:80%;
    }
    .descripcionTrabajo{
        margin-top: 1rem;
        width:80% ;
    }
}
/*mas info rpoyectos*/
.masSobreProyectosContainer{
    background-color: black;
    display: grid;
    grid-template-rows:0.25fr 0.25fr 1.5fr  0.5fr;
    grid-template-columns: 0.25fr 1.5fr 0.25fr  ;
    grid-template-areas: 
                "cabezera cabezera cabezera" 
                "navegacion navegacion navegacion"
                ". infProyecto ."
                "pie pie pie"
                ;
    justify-items: center;
}
.proyectMasInfo{
    grid-area: infProyecto;
    @include flex(wrap,column,center,normal,normal);
    img{
        padding-top: 2rem;
        @include tamaño(50%,10rem);
    }
    h2,h3,h4{
        color: $color2;
        margin-top: 2rem ;
        margin-bottom: 2rem;
    }
    .descripcioProyecto{
        color: $color1;
        width: 50%;
    }
}

.proyectoDetalles{
    color: $color2;
    margin-top: 3rem;
    @include flex(wrap,row,center,space-around,normal);
    width: 80%;
    .librerias{
        color: $color1;  
        margin-left: 2rem;
    }
    p{
        color: $color1;
    }
}
.repos{
    margin-top: 3rem;
    @include flex(nowrap,row,normal,space-around,normal);
    width: 80%;
    a{
        border: 0.1rem black solid;
        background-color: $color2;
        border-radius: 1rem;
        @include tamaño(5rem,2rem);
        text-decoration: none;
        text-align: center;
        &:visited{
            color:black;
            text-decoration: none;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){   
   
    .contenedor{
        background-color: black;
        display: grid;
        grid-template-rows:1fr 0.25fr 4fr  0.5fr;
        grid-template-columns: 0.25fr 2fr 1fr 0.25fr  ;
        grid-template-areas: 
                    "cabezera cabezera cabezera cabezera" 
                    "navegacion navegacion navegacion navegacion"
                    "principio principio noticias noticias"
                    "pie pie pie pie"
                    ;
        justify-items: center;
        align-items: center;
        column-gap: 1rem;
    }
    .navegacion{
        grid-area: navegacion;
    }        
    .principio{
        grid-area: principio;
        @include tamaño(30rem,20rem);
        @include flex(wrap,row,center,space-between,normal);
        h2{
            width: 20%;
            display: inline;
        }
        img{
            @include tamaño(50%,40%);
            display: inline-block;
        }
        p{
            width: 75%;
        }
    }
    /*contacto*/
    .contacto{
        width: 60%;
        margin-left: 3rem;
    }
    /*sobre mi*/
    .SobreMiConteiner{
        display: grid;
        grid-template-rows:1fr 0.25fr 5fr 2fr  0.5fr;
        grid-template-columns: 0.25fr 2fr 1fr 0.25fr  ;
        grid-template-areas: 
                    "cabezera cabezera cabezera cabezera"
                    "navegacion navegacion navegacion navegacion"
                    ". sobreMi sobreMi ."
                    ". trabajos formacion ."
                    "pie pie pie pie"
                    ;
        justify-items: center;
        column-gap: 1rem;
    }
    .descripcionPersonal{
        grid-area: sobreMi;
        width: 100%;
        @include flex(wrap,row,flex-start,space-around,center);
        img{
            @include tamaño(18rem,18rem);
        }
        div{
            @include tamaño(40%,40%);
            h2{
                margin-top: 1rem;
                width: 100%;
            }
            p{
                margin-top: 1rem;
                width: 100%;
            }
        }   
        ul{
            padding-left: 3rem;
            align-self:flex-start;
            width: 70%;
            li{
                margin-top: 2rem;
            }
        } 
    }
}

@media screen and (min-width: 1024px){
    .contenedor{
        display: grid;
        grid-template-rows:1fr 0.25fr 1.5fr  0.5fr;
        grid-template-columns: 0.25fr 2fr 1fr 0.25fr  ;
        grid-template-areas: 
                    "cabezera cabezera cabezera cabezera" 
                    "navegacion navegacion navegacion navegacion"
                    "principio principio noticias noticias"
                    "pie pie pie pie"
                    ;
        justify-items: center;
        align-items: center;
        column-gap: 1rem;
    }
    .cabezera{
        grid-area: cabezera;
       h1{
        font-size: 3rem;
       }
       p{
        font-size: 1.5rem;
       }
    }
    .navegacion{
        align-self: start;

        grid-area: navegacion;
    }        
    .principio{
        grid-area: principio;
        @include tamaño(50rem,50rem);
        @include flex(wrap,row,flex-start,space-around,space-around);
        h2{
            text-align: center;
            font-size: 2.3rem;
            width: 80%;
            display: inline;
        }
        img{
            @include tamaño(50%,50%);
            display: inline-block;
        }
        p{
            font-size: 1.5rem;
            width: 30%;
        }
    }
    .noticias{
        margin-top: 2rem;
        color: $color1;
        grid-area: noticias;
        @include tamaño (50,40rem);
        background-color: black;
        @include flex(nowrap,column,center,normal,normal);
        h3{
            font-size: 2rem;
            // padding-bottom: 1rem;
            // padding-right: 1rem;
        }
    }
    .tarjeta{
        margin-top: 1rem;
        background-color: black;
        @include flex(wrap,row,flex-start,space-around,flex-start);
        @include tamaño (100%,auto);
        h4{
            font-size: 1.8rem;
            color: $color2;
            text-align: start;
            margin-top: 0.5rem;
            padding-left: 1rem;
            @include tamaño (100%,auto);
        }
        img{
            border-radius: 6rem;
            @include tamaño (7rem,5rem);
        }
        p{
            font-size: 1.5rem;
            color: $color1;
            @include tamaño (40%,auto);
            margin-left: 1rem;
        }
    }
    .pie{
        // width: 80%;
        grid-area: pie;
        @include flex(nowrap,row,center,space-evenly,normal);
        p{
            margin-top: 1rem;
            width: 25%;
        }
    }
      /*estilos proyectos*/
      .proyec-Container{
        grid-area: divProyectos;
        @include flex(wrap,row,center,space-around,flex-start);
        h2{
            font-size: 2.3rem;
            color: $color1;
            @include tamaño(100%,auto);
            margin-top: 3rem;
            margin-bottom: 2rem;
            text-align: center;
        }
    }
     .proyecto{
         color: $color1;
         margin-bottom: 3rem;
         background-color:black;
         font-size: 1.5rem;
    @include tamaño(40rem,20rem);
    @include flex(wrap,row,flex-end,space-around,normal);
    img{
        @include tamaño(6rem,6rem);
    } 
    div{
        @include tamaño(10rem,10rem);
        h3{
            font-size: 2rem;
            color: $color2;
            text-align: center;
            @include tamaño(20rem,4rem);
        }  
        .descripcion{
            @include tamaño(100%,20%);
        }
    } 
    ul{
        @include tamaño(30%,30%);
        li{
            list-style: none;
        
        }
    }
    .fecha{
        @include tamaño(10%,10%);
    }
    a{
        border: 0.1rem black solid;
        background-color: $color2;
        border-radius: 1rem;
        @include tamaño(30%,10%);
        text-decoration: none;
        text-align: center;
        &:visited{
            color:black;
            text-decoration: none;
        }
    }
}
    /*contacto*/
    .contacto{
        width: 30%;
        margin-left: 3rem;
    }
    /*sobre mi*/
    .SobreMiConteiner{
        display: grid;
        grid-template-rows:1fr 0.5fr 2fr 2fr  0.5fr;
        grid-template-columns: 0.25fr 2fr 0.5fr 0.25fr  ;
        grid-template-areas: 
                    "cabezera cabezera cabezera cabezera"
                    "navegacion navegacion navegacion navegacion"
                    ". sobreMi formacion ."
                    ". trabajos trabajos ."
                    "pie pie pie pie"
                    ;
        justify-items: center;
        column-gap: 1rem;
    }
    .descripcionPersonal{
        grid-area: sobreMi;
        width: 100%;
        @include flex(wrap,row,flex-start,space-around,center);
        img{
            @include tamaño(20rem,20rem);
        }
        div{
            @include tamaño(40%,40%);
            h2{
                font-size: 2.3rem;
                margin-top: 1rem;
                width: 100%;
            }
            p{
                font-size: 1.5rem;
                margin-top: 1rem;
                width: 100%;
            }
        }   
        ul{
            padding-left: 3rem;
            align-self:flex-start;
            width: 70%;
            li{
                font-size: 1.5rem;
                margin-top: 2rem;
            }
        } 
    }
    .experienciaLaboral{
        grid-area: trabajos;
        @include flex(wrap,row,center,space-evenly,normal);
        width: 100%;
        h3{
            font-size: 2rem;
            width: 80%;
            text-align: center;
        }
    }
    .trabajos{    
        margin-top: 2rem;
        @include flex(wrap,row,normal,normal,normal);
        width: 40%;
        h4{
            font-size: 2rem;
            width:50% ;
        }
        .tiempoTrabajo{
            margin-left: 1rem;
            width: 20%;
        }
        h5{
            font-size: 2rem;
            margin-top: 1rem;
            width:80%;
        }
        .descripcionTrabajo{
            margin-top: 1rem;
            width:80% ;
            font-size: 1.5rem;
        }
    }
    /*mas info rpoyectos*/
.proyectMasInfo{
    @include flex(wrap,column,center,normal,normal);
    img{
        padding-top: 2rem;
        @include tamaño(40%,18rem);
    }
    h2,h3{
        margin-top: 2rem ;
        margin-bottom: 2rem;
    }
    .descripcioProyecto{
        width: 50%;
    }
}
}